.paginator {
    margin: 30px 0;
}
.pageNumber {
    padding: 10px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

.paginator span {
    cursor: pointer;
}