.header {
    grid-area: h;
    background-color: green;
}

.header span,
.loginBlock {
    display: inline-block;
    padding-top: 16px;
    padding-left: 20px;
    color: white;
}

.header a {
    color: white;
}

.loginBlock {
    float: right;
    padding-right: 20px;
}